composer.phar
vendor/
.idea/
.foundation
library/Zend/
library/Symfony/
.buildpath
.project
.settings/
nbproject
tests/reports
*.phar
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.xz
*.lzma
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.tgz